<% if @contacts.any? %>
  <table>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Number</td>
    </tr>
    <% @contacts.each_with_index do |contact, index| %>
      <tr>
        <%= link_to contact_path(contact) do %>
          <td><%= index + 1 %></td>
          <td><%= contact.name %></td>
          <td><%= contact.phone_number %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
